#Title {
    color: white;
    text-decoration: none;
    padding-left: 600px;
}

.links {
    color: white;
    text-decoration: none;
    left: auto;
    right: 0px;
}

#about {
    position: absolute;
    padding-right: 190px;
}

#upload{
    position: absolute;
    padding-right: 100px;
}

#results{
    position: absolute;
    padding-right: 10px;
}